<h1>日記作成</h1>

<%= form_with model: @diary do |f| %>
  <div>
    <%= f.label :date, "日付" %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :content, "一言日記" %>
    <%= f.text_area :content %>
  </div>

  <%= f.submit "保存" %>
<% end %>